@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
  margin: 0;
  font-family:'Delicious Handrawn', cursive;
  font-size: 1.5em;
  text-align: right;
  background: #0961c0;
  color: #ffff;
}